*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ---REGOLE DI DEBUGG--- */
.debugg-orange{
    background-color: orange;
    border: solid 1px white;
}
.debugg-blu{
    background-color: blue;
    border: solid 1px white;
}
.debugg-green{
    background-color: green;
    border: solid 1px white;
}


/* ---FOOTER--- */
.header{
    width: 1519px;
    position: fixed;
    top:0px;
    background-color: #FF6900;
}

.container{
    display: flex;  
    justify-content: center;

}

.section{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.col{
    color: white;
    padding: 10px 0px;
    width: 180px;
}

.col img{
    width: 100px;  
}

.col-logo{
   display: flex;
   justify-content: end;
}

.col ul{
    padding: 20px 0px; 
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}
.col li{
    padding: 0px 5px; 
}
.col i{
    padding: 0px 5px;
}
/* ---FOOTER--- */


/* ---MAIN--- */
.main{
    padding-top: 78.4px;
    max-width: 1536px;
}

.columns{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
}

.product img{
    width: 350px;
    padding: 10px;
}
/* ---MAIN--- */

/* ---FOOTER--- */
.container-footer{
    max-width:1536px;
}
.section-footer{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.col-footer{
    width: 30%;
    
}