*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ---REGOLE DI DEBUGG--- */
.debugg-orange{
    background-color: orange;
    border: solid 1px white;
}
.debugg-blu{
    background-color: blue;
    border: solid 1px white;
}
.debugg-green{
    background-color: green;
    border: solid 1px white;
}


/* ---FOOTER--- */
.header{
    width: 1536px;
    position: fixed;
    top:0px;
}

.container{
    display: flex;  
    justify-content: center;

}

.section{
    display: flex;  
    justify-content: space-between;
    width: 70%;
}

.col{
    width: 20%;
    padding: 10px;
    list-style-type: none;
}
.col ul{
    list-style-type: none;
}
/* ---FOOTER--- */


/* ---MAIN--- */
.main{
    padding-top: 78.4px;
    max-width: 1536px;
}
.columns{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
}
.product img{
    width: 350px;
    padding: 10px;
}
/* ---MAIN--- */

/* ---FOOTER--- */
.container-footer{
    max-width:1536px;
}
.section-footer{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.col-footer{
    width: 30%;
    
}